@model IEnumerable<WebBanThuoc.Models.VoucherOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var data = {
        "products": [{
            "name": "bút",
            "weight": 0.1,
            "quantity": 1,
            "product_code": 1241
        }, {
            "name": "tẩy",
            "weight": 0.2,
            "quantity": 1,
            "product_code": 1254
        }],
        "order": {
            "id": "123",
            "pick_name": "HCM-nội thành",
            "pick_address": "590 CMT8 P.11",
            "pick_province": "TP. Hồ Chí Minh",
            "pick_district": "Quận 3",
            "pick_ward": "Phường 1",
            "pick_tel": "0911222333",
            "tel": "0353573467",
            "name": "GHTK - HCM - Noi Thanh",
            "address": "123 nguyễn chí thanh",
            "province": "TP. Hồ Chí Minh",
            "district": "Quận 1",
            "ward": "Phường Bến Nghé",
            "hamlet": "Khác",
            "is_freeship": "1",
            "pick_date": "2016-09-30",
            "pick_money": 47000,
            "note": "Khối lượng tính cước tối đa: 1.00 kg",
            "value": 3000000,
            "transport": "road",
            "pick_option": "cod",
            "deliver_option": "xteam",
            "pick_session": 2,
            "tags": [1]
        }
    }
</script>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Quản lí đơn hàng</h4>
                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                    <i class="fa fa-plus"></i>
                    Thêm Mới
                </button>
            </div>
        </div>
        <div class="card-body">
            <!-- Modal -->
            <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header no-bd">
                            <h5 class="modal-title">
                                <span class="fw-mediumbold">
                                    Thông Tin Danh Mục
                                </span>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/Category/Create" method="post">
                            <div class="modal-body">
                                <p class="small">Bạn vui lòng nhập đầy đủ thông tin</p>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Tên Danh Mục</label>
                                            <input id="addName" name="Name" type="text" class="form-control" placeholder="Vui Lòng Nhập Thông Tin" required>
                                            <input id="idCategory" hidden name="idCategory" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer no-bd">
                                <button type="submit" id="addRowButton" class="btn btn-primary">Lưu</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="table-responsive ">
                <table id="add-row" style="width:100%" class="display  table table-striped table-hover">
                    <thead>
                   
                        <tr>
                            <th >Tên khách hàng</th>
                            <th>SĐT</th>
                            <th>Ngày đăt</th>
                            <th>Thanh Toán</th>
                            <th>Trạng Thái</th>
                            <td>Tổng tiền hàng</td>
                            <td>Giảm giá </td>
                            <td>Tiền khách trả</td>
                            <th style="width: 5%">#</th>
                        </tr>
                    </thead>

                    <tbody>
                       *@foreach (var item in Model.OrderByDescending(x=>x.createdate))
                        {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.telephone</td>
                            <td>@item.createdate</td>
                            <td>@(item.paymentmethods==0?"Nhận hàng mới thanh toán":"Thanh toán online")</td>
                            <td>
                                @(item.status.Value==1||item.status==0?"Chờ xác nhận": item.status.Value == 2? "Xác nhận đơn hàng" : item.status.Value == 3 ? "Đang Giao" : item.status.Value == 4? "Đã giao" : item.status.Value == 6 ? "Đã hủy" : "Trả hàng"
    )
                            </td>
                            <td>@item.grossAmount.Value.ToString("N0") vnđ</td>
                            <td>@item.discountAmount.Value.ToString("N0") vnđ</td>
                            <td>@((item.grossAmount.Value- item.discountAmount).Value.ToString("N0")) vnđ</td>
                            <td>
                                <div class="form-button-action">
                                    <a href="/EditOrder/@item.id" name="Edit" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="/Order/Delete/@item.id" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>